.headline h1 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172B4D;
  margin: 0 0 12px 0;
}

.headline p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 0;
}

.headline { top: 162px; }

.wrap {
  width: 327px;
  margin: 0 auto;
}

.header {
  height: 48px;
}